@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {

    #container {
        width: 700px;
        height: 380px;
    }

    section.image {
        background-size: cover;
        background-position: right bottom;
        float: left;
        width: 50%;
        height: 100%;
    }

    section.forms {
        float: right;
        width: 50%;
    }

    section.forms > h1 {
       font-size: 2.5em;
       margin: 10px 0px 10px 5px;
    }

    section.forms > label {
        margin: 5px;
    }

    div.botton {
        margin-top: 40px;
    }
}

@media  screen and (min-width: 992px) {
    
    #container {
        width: 950px;
        height: 370px;
    }

    section.image {
        float: right;
        width: 50%;
        height: 100%;
    }

    section.forms {
        float: left;
        width: 50%;
    }

    section.image > h1#title {
        font-size: 2.0em;
    }

    section.forms > h1 {
        font-size: 2.5em;
        margin: 10px 0px 10px 5px;
     }

     div.botton {
        margin-top: 20px;
     }
}