@charset "UTF-8";

@media screen and (min-width: 768px) and (max-width: 992px) {
    #container {
        width: 700px;
        height: 400px;
    }

    section.image {
        background-size: cover;
        background-position: right bottom;
        float: left;
        width: 50%;
        height: 100%;
    }

    section.forms {
        float: right;
        width: 50%;
    }
}

@media  screen and (min-width: 992px) and (max-width: 1200px) {
    #container {
        width: 950px;
        height: 370px;
    }

    section.image {
        float: right;
        width: 50%;
        height: 100%;
    }

    section.form {
        float: left;
        width: 50%;
    }

    section.image > h1#title {
        font-size: 2.0em;
    }
}