@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color1: #9165F7;
    --color2: #8960EA;
    --color3: #7B56D1;
    --color4: #6446AB;
    --color5: #3F2C6B;

    --font0: Arial, sans-serif;
    --font1: 'Poppins', cursive;
}

* {
    font-family: var(--font0);
    font-weight: normal;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body {
    background-color: var(--color4);
    width: 100vw;
    height: 100vh;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#container {
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--color5);
    height: 550px;
    width: 330px;
    border-radius: 20px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.589);
    overflow: hidden;
    transform: translate(-50%, -50%);
}

section.image {
    position: relative;
    background-image: url('../images/pexels-joyston-judah-933054.jpg');
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
    height: 50%;
    
}

section.image > h1#title {
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    font-family: var(--font1);
    transform: translate(-50%, -50%);
}

section.image > h1#title > span {
    font-family: var(--font1);
    font-weight: bold;
    font-size: 2em;
    line-height: 50px;
}

section.forms {
    padding: 10px;
}

section.forms label {
    display: block;
}